.para-style{
    font-size: 1.2rem;
    color: #21618C;
    font-family: 'Roboto',
    sans-serif;
}

.para-anim{
     animation-duration: 5s;
     animation-name: slidein;
     animation-iteration-count: 1;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}