.footer-section {
    background-color: #005966;
    color: #fff;
}
#img-id{
    width:50%;
    padding: 5px;
    margin-top: 15px;
}
.font-icon{
    color: white;
}

.span-space{
    margin-right: 40px;
}

.common-hr{
    width: 55%;
    color:white;
}